@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #5301d3, #e761e5, #5301d3);
  border: none;
  border-radius: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  font-family: Poppins, sans-serif;
}
.svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.pink-svg {
  filter: drop-shadow(3px 5px 2px pink);
}

.curvy-line path {
  fill: pink;
  stroke: none;
}
.gradient-text {
  background: linear-gradient(to right, #5301d3, #e761e5, #5301d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.home-gradient {
  background: linear-gradient(to bottom, black 60%, #e761e5);
}

.about-gradient {
  background: linear-gradient(to bottom, #e761e5, #5301d3, #000);
}

.audio-before::before {
  content: "Play Me -> ";
  color: white;
  font-size: 1.5rem;
  position: absolute;
  transform: translateX(-150%);
  animation: bobHorizontal 2s infinite;
  transition: opacity 0.5s;
}
@keyframes bobHorizontal {
  0% {
    transform: translateX(calc(-5px - 150%));
  }
  50% {
    transform: translateX(calc(5px - 150%));
  }
  100% {
    transform: translateX(calc(-5px - 150%));
  }
}

.audio-before.hide-before::before {
  opacity: 0;
}
html {
  scroll-behavior: smooth;
}
